{% extends "base.html" %}
{% block title %}Ticket Detail{% endblock %}
{% block content %}
    {% include "booking/includes/ticket.html" %}
    <script>
        const ticketId = "{{ ticket.id }}";
        const webSocketUrl = `ws://${window.location.host}/ws/ticket/${ticketId}/`;
        const chatSocket = new WebSocket(webSocketUrl);

        chatSocket.onopen = function (e) {
            console.log('WebSocket connection established');
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('Data received from websocket:', data);

            if (data.ticket_id) {
                const ticketElement = document.querySelector(`.ticket[data-ticket-id="${data.ticket_id}"]`);
                if (ticketElement) {
                    ticketElement.querySelector('.ticket-number').textContent = '#' + data.ticket_number;
                    ticketElement.querySelector('.passenger-name').textContent = data.passenger_name;
                    ticketElement.querySelector('.seat-number').textContent = data.seat || 'N/A';
                    ticketElement.querySelector('.price').textContent = data.price;
                    ticketElement.querySelector('.seat-type').textContent = data.seat_type;
                    ticketElement.querySelector('.status').textContent = data.status;
                }
            }
        };

        chatSocket.onclose = function (e) {
            console.error('WebSocket connection closed unexpectedly');
        };

        chatSocket.onerror = function (e) {
            console.error('WebSocket encountered an error:', e);
        };
    </script>
{% endblock %}
